.mq-editable-field.mq-math-mode {
  border: 0px;
  vertical-align: bottom;
  font-family: 'CirceRounded-Regular', sans-serif;
  font-style: italic;
}

.mq-root-block, .mq-math-mode.mq-root-block {
  cursor: pointer;
}

.mq-root-block, .mq-math-mode .mq-root-block {
  padding: 0px;
}

.mq-sup {
  width: 12px;
  font-size: 90%;
}

.mq-cursor {
  visibility: hidden;
}

.mq_blink {
  visibility: hidden;
}

.mq-editable-field.mq-focused, .mq-math-mode .mq-editable-field.mq-focused {
  box-shadow: none;
  border-radius: 0;
}

.mq_focused:focus {
  box-shadow: none;
  border-radius: 0;
}
