.mq-editable-field.mq-math-mode  {
  border: 0px;
  vertical-align: bottom;
  font-family: 'CirceRounded-Regular', sans-serif;
  font-style: italic;
}

.mq-root-block, .mq-math-mode.mq-root-block {
  cursor: pointer;
}

.mq-root-block, .mq-math-mode .mq-root-block {
  padding: 0px;
}

.mq-sup {
  width: 10px;
}
